# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android related
**/android/**/generated/
**/android/gradle/
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/values/google-services.xml
*.jks
*.keystore
*.apk
*.aab

# iOS related
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets.zip
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Config.xcconfig
**/ios/DerivedData/
*.moved-aside
Podfile.lock

# Web related
.web/

# Coverage
coverage/

# Firebase
.firebase/
google-services.json
GoogleService-Info.plist

# Env
.env*
